<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745048393213-hols64dk8v4gsm2ubfs1u6nhhcub9ac3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745048393213-hols64dk8v4gsm2ubfs1u6nhhcub9ac3</string>
	<key>API_KEY</key>
	<string>AIzaSyDLrHAgMxJ2r6GxX1Bvg4NP12vdO4lnQK4</string>
	<key>GCM_SENDER_ID</key>
	<string>745048393213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cutshot</string>
	<key>PROJECT_ID</key>
	<string>cutshot-35dae</string>
	<key>STORAGE_BUCKET</key>
	<string>cutshot-35dae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745048393213:ios:f425ca3b3a1a862786c594</string>
</dict>
</plist>